@media( max-width: 1220px){
  .menuToggle{
    display: block;
    background:none;
    position:absolute;
    top:68px;
    right:0;
    line-height:45px;
    padding:5px 15px 0px 15px;
    color:#fff;
    border:0;
    font-size:3em;
    font-weight:bold;
    cursor:pointer;
    outline:none;
    z-index:10000000000000;
  }
  .menu{
    display: none;
    position: absolute;
    background: #3e2597;
    width: 25%;
    right: 0;
    margin: 140px 0 0 0;
  }
  .menu a {
    display: block;
    padding: 10px;
    border-bottom: 1px solid #ccc;
  }
  .menu a:last-child {
    border-bottom: none;
  }
  .menu a:last-child::before {
    top: 8px;
  }
  .header_bottom h1,
  .header_bottom p,
  .button_works {
    color: #fff;
  }

  .header_bottom_carousel .item {
    width: 32%;
  }
}

@media( max-width: 1090px){
  .header_bottom_carousel .item {
    width: 100%;
    background-position: 104% 0;
    margin-bottom: 20px;
  }
  .header_bottom_carousel {
    margin: 30px auto 52px;
  }
  header {
    margin-bottom: 54%;
  }
  .our_works {
    margin-top: 8%;
  }
}


@media( max-width: 964px){
  .header_bottom h1 {
    margin-top: 52px;
  }
}

@media( max-width: 738px){
  .header_bottom h1 {
    font-size: 50px;
  }
  .header_bottom p {
    font-size: 24px;
  }
  .header_bottom .button_works {
    height: 50px;
    padding: 9px 55px;
  }
  .menu{
    width: 40%;
  }
}


@media( max-width: 640px){
  .header_bottom h1 {
    width: inherit;
    line-height: 1.3;
    margin-top: 36px;
  }
  .button_works {
    margin-top: 15px;
  }
}

@media( max-width: 596px){
  .menu{
    width: 100%;
  }
  .header_bottom p {
    color: #000;
  }
  .header_bottom .button_works {
    color: #000;
  }
}

@media( max-width: 525px){
  .logo {
    margin-left: 0;
  }
  .header_bottom {
    margin-left: 22px;
    margin-left: 78px;
  }
  .header_bottom p {
    width: 300px;
  }
}