* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
@font-face { 
  font-family: "Gilroy"; 
	src:  url("../fonts/Gilroy-Bold.woff") format('woff'),
				url("../fonts/Gilroy-Regular.woff") format('woff'),
				url("../fonts/Gilroy-Semibold.woff") format('woff');
}
html {
  scroll-behavior: smooth; /* свойство scroll-behavior не наследуется, применяется к прокручиваемым блокам */ 
}
body {
	font-family: "Gilroy";
	color: #000;
	background: #fff;
	font-size: 16px;
	line-height: 1.3;
	min-width: 480px;
	margin: 0;
	padding: 0;
}
.clearfix::after{
	content: "";
	clear: both;
	display: table;
}
.container {
	min-width: 480px;
	max-width: 1600px;
	margin: 0 auto;
}
/*Header*/
header {
	background-image: url('../assets/Ellipse.png');
	background-position: 100% 0;
	background-repeat: no-repeat;
	height: 1100px;
	width: 100%;
	background-size: contain;
}
.menuToggle{  
    color: #fff;
    padding: 10px 15px;
    cursor: pointer;
    display: none;
}
.header_top {
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
}
.header_bottom {
	margin-left: 73px;
}
.logo {
	margin-top: 34px;
	margin-left: 52px;
}
.menu {
	width: 746px;
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
	margin-top: 58px;
	margin-right: 112px;
}
.menu a {
	text-decoration: none;
	font-size: 20px;
	line-height: 24px;
	letter-spacing: 0.015em;
	color: #fff;
	font-weight: 500;
}
.menu a:hover {
	color: #fff;
}
.menu a:last-child {
	padding-left: 26px;
	position: relative;
}
.menu a:last-child::before {
	content: '';
	width: 23px;
	height: 23px;
	background: url('../assets/phone.svg');
	position: absolute;
	left: 0;
	top: 0;
}
.header_bottom h1 {
	width: 523px;
	font-size: 70px;
	text-transform: uppercase;
	font-weight: 800;
	line-height: 70px;
	color: #1D1D1D;
	margin-top: 199px;
	margin-bottom: 25px;
}
.header_bottom p {
	margin: 0;
	font-size: 30px;
	line-height: 36px;
	font-weight: 500;
}
.button_works {
	margin-top: 43px;
	position: relative;
	display: block;
	width: 272px;
	height: 81px;
	padding: 24px 55px;
	border: 2px solid #00B90E;
	font-size: 24px;
	line-height: 29px;
	border-radius: 40.5px;
	color: #000;
	text-decoration: none;
	overflow: hidden;
}
.button_works span {
	text-align: center;
	position: relative;
	z-index: 1;
}
.button_works:hover span {
	color: #fff;
}
.button_works .wave {
	position: absolute;
	top: calc(100% + 22px);
	left: 0;
	width: 100%;
	height: 100%;
	background: #00B90E;
	transition: 1s;
}
.button_works:hover .wave {
	top: 0;
}
.button_works .wave:before {
	content: "";
	position: absolute;
	top: -22px;
	left: 0;
	width: 100%;
	height: 22px;
	background-image: url("../assets/wave.png");
	animation: waves 0.5s linear infinite;
}
@keyframes waves {
	0% {
		background-position-x: 0;
	}
	100% {
		background-position-x: 118px;
	}
}
.header_bottom_carousel {
	width: 95%;
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
	margin: 140px auto 52px;
	
}
.header_bottom_carousel .item {
	width: 30%;
	height: 278px;
	background: #F8F8F8;
	box-shadow: 0px 4px 15px rgba(61, 61, 61, 0.2);
	border-radius: 30px;
	position: relative;
	background-size: auto 100%;
	background-repeat: no-repeat;
}
.header_bottom_carousel .item-1 {
	background-image: url('../assets/group-1-opacity.svg');
}
.header_bottom_carousel .item-2 {
	background-image: url('../assets/watch_opacity.svg');
}
.header_bottom_carousel .item-3 {
	background-image: url('../assets/group_opacity.svg');
}
.header_bottom_carousel .item img {
	position: absolute;
	top: 40px;
	left: 20px;
}
.header_bottom_carousel .item h4 {
	font-size: 26px;
	font-weight: bold;
	position: absolute;
	top: 143px;
	left: 20px;
}
.header_bottom_carousel .item p {
	width: 300px;
	font-size: 18px;
	position: absolute;
	top: 183px;
	left: 20px;
}
/*About Us*/
.about_block {
	margin: 160px 0 80px;
	position: relative;
}
.about_us {
	width: 1050px;
	background: #F8F8F8;
	position: absolute;
	right: 0;
	top: 110px;
	padding: 103px 79px;
}
.about_us img {
	position: absolute;
	right: 72px;
	top: 46px;
}
.about_us p {
	width: 744px;
	font-size: 24px;
	line-height: 28px; 
}
/*Our works*/
.our_works {
	text-align: center;
	scroll-behavior: smooth;
}
h2 {
	font-size: 48px;
	font-weight: bold;
	line-height: 59px;
	margin-bottom: 5px;
}
.h3 {
	font-size: 26px;
	font-weight: 500;
	line-height: 32px;
}
.buttons {
	width: 100%;
	margin: 0 auto;
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
	margin-bottom: 19px;
}
.buttons p {
	font-size: 20px;
	line-height: 24px;
	font-weight: 500;
	text-decoration: none;
	color: #000;
	padding: 11px 25px;
	margin-top: 10px;
}
.buttons p:hover,
.buttons p:active {
	background: #00B90E;
	border-radius: 34px;
	color: #fff;
}
.our_works-images {
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
	margin-bottom: 40px;
}
.our_works-images .item {
	height: 424px;
}
.our_works-images .item img {
	width: 100%;
	height: 424px;
}

.our_works-images .item-1 {
	width: 57%;
}
.our_works-images .item-2 {
	width: 43%;
}
.our_works-images .item-3,
.our_works-images .item-4,
.our_works-images .item-5 {
	width: 33.3%;
}
.our_works-images .item-5 {
	background: #fff;
	position: relative;
}
.our_works-images .item-5 p {
	width: 309px;
	text-align: left;
	font-size: 28px;
}
.our_works-images .item-5 .text {
	position: absolute;
	bottom: 10px;
	left: 10px;
	margin-left: 40px;
}
.our_works-images .item-5 .text .button {
	margin: 30px 0;
}
/* Our services */
.our_services h2,
.our_services h3 {
	text-align: center;
}
.heading {
	position: relative;
}
.heading img {
	z-index: 1;
	width: inherit;
}
.heading p {
	text-align: center;
	position: absolute;
	top: 24px;
	left: 64px;
	font-weight: bold;
	font-size: 26px;
	color: #fff;
	z-index: 111;
}
.heading .item-2 {
	left: 46px;
}
.heading .item-3 {
	left: 23px;
}
.heading .item-4 {
	left: 65px;
}
.our_service-container {
	width: 1640px;
	margin: 0 auto;
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
}
.our_service-container .item {
	width: 368px;
	box-sizing: border-box;
	position: relative;
}
.item_btn {
	width: 150px;
	padding: 10px 30px;
	height: 50px;
	font-size: 20px;
	position: absolute;
	bottom: 10px;
	left: calc(50% - 75px);
}
.our_service-container .item {
	margin-top: 49px;
	background: #F7F7F7;
}
.our_service-container .item ul {
	width: 290px;
	margin: 20px auto 90px;
}
.our_service-container .item ul li {
	margin: 26px 0;
	color: #00B90E;
}
.our_service-container .item ul li span {
	color: #000;
	font-size: 16px;
}
/*Carousel*/
.carousel {
	margin-top: 64px; 
	height: 375px;
	background: #F2F2F2;
}
.caruosel_container {
	width: 1640px;
	height: 100%;
	margin: auto;
	position: relative;
	align-items: center;
}
.btnPrevious,
.btnNext {
	position: absolute;
	top: calc(50% - 23px);
	z-index: 10000;
}
.btnPrevious {
	left: 0;
}
.btnNext {
	right: 0;
}
.carousel_ul {
	z-index: 11;
	width: 100%;
	display: flex;
	justify-content: space-around;
	position: absolute;
	top: calc(50% - 51.5px);
	left: calc(50% - 788px);
	overflow: hidden;
}
.caruosel_container .item {
	position: relative;
	width: 300px;
}
.caruosel_container .item:before {
	content: "";
	position: absolute;
	top: 10px;
	left: -57px;
	background: #CECECE;
	width: 2px;
	height: 81px;
}
.caruosel_container .item-1:before {
	content: "";
	background: none;
}
/*Footer*/
footer {
	background: #1D1D1D;
	color: #fff;
	padding-bottom: 60px;
}
.footer_container {
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
	width: 1643px;
	margin: 0 auto;
}
footer .footer_container .item-1 {
	width: 46%;
}
footer .footer_container .item-2 {
	width: 25%;
}
footer .footer_container .item-3 {
	width: 29%;
}
footer .footer_container .item h4 {
	font-size: 22px;
	font-weight: bold;
	text-transform: uppercase;
	position: relative;
	margin: 55px 0 20px;
}
footer .footer_container .item h4:before {
	content: "";
	width: 41px;
	height: 4px;
	background: #00B90E;
	position: absolute;
	bottom: -8px;
}
.white_logo_footer {
	display: block;
	margin-top: 29px;
}
footer .footer_container .item-2 h4 {
	margin-bottom: 29px;
}
footer .footer_container .item-1 p {
	margin-top: 24px;
	width: 380px;
	font-size: 18px;
}
footer .footer_container .item-2 a {
	display: block;
	font-size: 20px;
	text-transform: capitalize;
	color: #fff;
	text-decoration: none;
	margin: 20px 0;
}
.contacts {
	margin-top: 30px;
	font-size: 20px;
	text-transform: capitalize;
}
.contacts .items {
	margin-top: 29px;
}